<%- include('./partials/head/head') %>
<body>
    <%- include('./partials/nav/nav') %>
    <div class="main min-h-screen pb-5 pt-[5rem] bg-[#EEEEEE]">
    <div class="container mx-auto">
        <div class="title md:flex items-center justify-between">
            <h2 class="text-2xl font-semi-bold my-5"><%= blog.title %></h2>
           <% if(user && blog.createdBy._id == user._id){ %>
    <div class="actions flex gap-4 text-base-100 float-right mb-3 md:mb-0">
        <a class="bg-blue-600 px-5 py-2 btn btn-ghost" href="/blog/edit/<%= blog._id %>">edit</a>
        <a class="bg-red-400 px-5 py-2 btn btn-ghost" href="/blog/delete/<%= blog._id %>">delete</a>
    </div>
<% } %>

        </div>
        <div class="cover-img md:w-[70vw] w-full md:h-[70vh]">

            <img src="/<%=blog.coverImageUrl %> " alt="" class="my-5 w-[100%] h-[100%] object-cover ">
        </div>
        <div class="created-by flex items-center gap-3 mt-5">
            <div class="img w-[40px]">
                 <img src="<%= blog.createdBy.profileImageUrl %>" class="w-[100]" alt="">
            </div>
           <b><p><%= blog.createdBy.fullName %></p></b>
        </div>
        <p class="mt-5"><%= blog.body %></p>
    </div>
    <div class="commennts container mx-auto">
        <h2 class="text-xl m-5">comments (<%= comments.length  %>)</h2>
    <% if(locals.user){ %>
        <form action="/blog/comment/<%= blog._id %>" method="post" class="m-5 md:w-[50vw] w-[100vw] flex gap-2">

            <input type="text" name="comment" id="" placeholder="enter your comment" class="md:w-[80%] min-w-[50vw] w-[60vw] px-2 py-2 rounded">
            <button type="submit" class="w-[25vw] max-w-[30vw] bg-[#B9375D] text-base-100 px-2 md:px-5 rounded">Comment</button>

        </form>
        <% } %>
        <div class="all-comments container mx-auto">
            <% comments.forEach((comment)=>{ %>
                <div class="flex gap-5 items-center mb-5">
                    <div class="img ">
                        <img src="<%=comment.createdBy.profileImageUrl  %>" alt="" width="50">
                    </div>
                    <div>

                        <b><%= comment.createdBy.fullName  %></b><hr>
                        <p class="mt-2"><%= comment.content %></p>
                    </div>
                 </div>
          <%  }) %>
        </div>
    </div>
</div>
<%- include('./partials/footer/footer')  %>
</body>
</html>