<%- include('./partials/head/head') %>
<body>
    <%- include('./partials/nav/nav') %>
    <div class="main pb-5 pt-[5rem] bg-[#EEEEEE] min-h-screen">
        <div class="blog-section container mx-auto">
            <h2 class="text-4xl font-semi-bold"><span class="font-bold text-[#B9375D]">ADD</span> new blog</h2>
      
            <form action="/blog/edit/<%= editBlog._id %>" method="post"class="flex flex-col m-5 w-1/3 gap-3" enctype="multipart/form-data">
            <div class="title flex flex-col">
            <label for="">Title</label>
            <input type="text" name="title" id="" placeholder="enter Title" class="px-2 py-2 rounded border-[#B9375D]" value="<%= editBlog.title  %>">
            </div>
            <div class="body flex flex-col">
    
                <label for="">Description</label>
                <textarea name="body" id="" rows="4" placeholder="enter Description" class="px-2 py-2 rounded border-[#B9375D]"><%= editBlog.body %></textarea>
            </div>
            <img src="/<%=editBlog.coverImageUrl  %>" alt="" width="100">
            <div class="cover-img">
                <input type="file" name="edit-coverImage" id="" class="border-[#B9375D] px-2 py-2 cursor-pointer rounded">
            </div>
            <button class="btn btn-ghost w-1/2 bg-[#B9375D] text-[17px] text-base-100 " type="submit">ADD</button>
            </form>
        </div>
    </div>
    <%- include('./partials/footer/footer')  %>

</body>
</html>