<%- include('./partials/head/head') %>
<body>
    <%- include('./partials/nav/nav') %>
    <div class="main pb-5 pt-[5rem] bg-[#EEEEEE] min-h-screen">

        <div class="blog-section container mx-auto">
            <h2 class="text-4xl font-bold"><span class="text-[#D25D5D]">MY</span> blogs</h2>
            <% if(locals.user){ %>
                  <div class="cards mt-5 flex flex-wrap gap-3 overflow-hidden">
                        <% if(locals.myBlogs && locals.myBlogs.length >0){%>
                            <% locals.myBlogs.forEach(blog=> { %>
                                <div class="card bg-base-100 w-96 shadow-sm h-[350px] overflow-y-auto grow">
                                    <figure class="h-[60%]">
                                        <img src="/<%=blog.coverImageUrl %>"
                                        alt="blog" class="w-[100%] object-cover  hover:scale-110 transition duration-150 ease-in-out"/>
                                    </figure>
                                    <div class="card-body h-[45%]">
                                        <h2 class="card-title">
                                            <%= blog.title %>
                                        </h2>
                                      <p class="text-ellipsis md:text-clip ...">
                                            <%  const body = blog.body %>
                                            <%  const totalWord=body.split(' ')%>
                                            <% if(totalWord.length > 30){ %>
                                                    <%= totalWord.slice(0,20).join(' ')+'...' %>
                                                <% } else{%>   
                                                <%= blog.body %>
                                                <% } %>

                                        </p>
                                        <div class="card-actions justify-end">
                                            <a href="/blog/<%= blog._id %>" class="btn btn-primary">Let's see</a>
                                        </div>
                                    </div>
                                </div>
    
                                   <% }); %>
                               <% } else{%>
                                        <div class="text-center w-full mt-5 text-xl">No blog posted yet!</div>
                                        <% } %>
    
    
    
                               
    
                    </div>
                <% } %>
        </div>
    </div>
    <%- include('./partials/footer/footer')  %>

</body>
</html>